{% extends "base.html" %}
{% block content %}
<style>
    body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzjwGvJs7EXM7CqrEGt6J6Yts2sChRQZSP4A&usqp=CAU');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 100% 100%;
  }
  </style>

    <h3 
    
    style="text-align: center; margin-top:1% ; color: white;">ARRANGE HALLS </h3>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
            <form action="/showsHalls" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td>Show Id </td>
                        <td><input name="sid" type="number" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Class </td>
                        <td><input name="class" type="text" class="form-control"></td>
                    </tr>


                    <tr>
                        <td>No Of Seats </td>
                        <td><input name="nos" type="number" class="form-control"></td>
                    </tr>
                        <td></td>
                        <td><button class="btn btn-success" type="submit">ADD HALL</button></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>

{% endblock %}